# Project specific ignore 
build/
test/
nbproject/
.DS_Store
sdb.sqlite3
radiotunnel_vhf-event.log
a.out

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Temporary files
*~
